{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {% block static_head %}
    <!--Include Static Files-->

    {% endblock %}

    <!--Google Icons-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/styling.css' %}" />
    <!--Google Icons-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% url 'serve-css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    {% block title %}
    <title>Viz Data Academy</title>
    {% endblock %}
  </head>

  <body>
    <nav class="navbar">
      <div class="container">
          <div class="menu">
                <a class="haha" href="/home/">
                    <h3 style="font-size: 20px; margin: 0;">Viz Data Academy</h3>
                    <div class="image-container"><i class="fa-solid fa-chart-line fa-beat main-logo" style="color: #ffffff;"></i></div>
                </a>
                <ul>
                  <div class="nav-container">
                      <div class="left">
                          <li>
                              <a href="/home/">Home</a>
                          </li>
                          {% if user.is_authenticated %}
                          <li>
                              <a href="{% url 'dashboard' %}">Lessons</a>
                          </li>
                          {% endif %}
                          <li>
                                <div class="dropdown">
                                  <button class="dropbtn">
                                      <a href="/home/graphing" id="graphing">Graphing</a>
                                  </button>
                                  <div class="dropdown-content">
                                      <a href="/home/bar-graph">Bar Graph</a>
                                      <a href="/home/line-graph">Line Graph</a>
                                      <a href="/home/pie-chart">Pie Chart</a>
                                      <a href="/home/histogram">Histogram</a>
                                      <a href="/home/bubble-graph">Bubble Graph</a>
                                      <a href="/home/box-plot">Box Plot</a>
                                      <a href="/home/scatter-plot">ScatterPlot</a>
                                  </div>
                              </div>
                          </li>
                      </div>
                      <div class="right">
                          {% if user.is_authenticated %}
                          <li>
                            <a href="{% url 'logout' %}?next={{request.path}}" class="navigator">Logout</a>
                          </li>
                          {% else %}
                          <li>
                              <a href="{% url 'login' %}">Login</a>
                          </li>
                          <li>
                              <a href="{% url 'signup' %}">Signup</a>
                          </li>
                          {% endif %}
                      </div>
                  </div>
              </ul>
          </div>
      </div>
      </div>
  </nav>
  
  <nav class="sidebar">
      <div class="container">
          <ul>
              <li>
                  <a href="/home/sponsors/">
                      <span>Sponsors</span>
                  </a>
              </li>
              <li>
                  <a href="/home/contributors/">
                      <span>Contributors</span>
                  </a>
              </li>
              <li>
                  <a href="/home/contact/">
                      <span>Contact Us</span>
                  </a>
              </li>
              <li>
                  <a href="/home/reviews/">
                      <span>Reviews</span>
                  </a>
              </li>
          </ul>
          <img src="{% static 'logo.png' %}" class="logo">
      </div>
  </nav>
    {% block content %} {% endblock %}
  </body>
</html>
