<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        
        {% block static_head %}
            <!--Include Static Files-->

        {% endblock  %}

        <!--Google Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link href="/home/static/css/styling.css" />

        {% block  title %}
                <title>Data Literacy</title>
        {% endblock  %}
    </head>

<body>
    <!--Inserting the top navbar with id of topNav -->
    <nav class="navbar">
      <div class="container">
          <div>
              <h1>Data Literacy</h1>
              <div class="menu">
                  <ul>
                      <li>
                          <a href="/home/templates/missionStatement.html" class="active">Home</a>
                      </li>
                      <li>
                          <a href="#">Lessons</a>
                      </li>
                      <li>
                          <div class="dropdown">
                              <button class="dropbtn" ><a href="/home/templates/graphing.html" id="graphing">Graphing</a></button>
                              <div class="dropdown-content">
                                <a href="/home/templates/barGraphing.html">Bar Graph</a>
                                <a href="/home/templates/lineGraphing.html">Line Graph</a>
                                <a href="/home/templates/pieGraphing.html">Pie Chart</a>
                            </div>
                            </div>
                      </li>
                      <li>
                          <a href="#">Info</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>

  <nav class="sidebar">
      <div class="container">
          <h3 class="title">Home</h3>
          <ul>
              <li>
                  <a href="/home/">
                      <span>Mission Statement</span>
                  </a>
              </li>
              <li>
                <a href="/home/templates/sponsors.html">
                    <span>Sponsors</span>
                  </a>
              </li>
              <li>
                  <a href="/home/templates/contributors.html">
                      <span>Contributors</span>
                  </a>
              </li>
              <li>
                  <a href="/home/templates/contact.html">
                      <span>Contact Us</span>
                  </a>
              </li>
              <li>
                  <a href="/home/templates/reviews.html">
                      <span>Reviews</span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>

  {% block content %}
  
  {% endblock  %}
    
</body>
