{% extends "base.html" %} 
{% load static %} 
{% block static_head %}

{% endblock static_head %}

{% block content %} 

    <main class="dashboard">
        <div id="graphOpt">
            <div id="useGraph"></div>
        </div>
        <div class="dataCollection">
            <h2 class="boxLabel" id="boxTitle">Stock Box</h2>
            <input type="text" id="updateBoxTitle" placeholder="Change Title" onchange="updateTitle(this)"/> 
            <script>
                function updateTitle(){
                    let Title = document.getElementById('updateBoxTitle').value;
                    return document.getElementById('boxTitle').innerHTML = Title;
                }
            </script>

            <h3 class="boxLabel" id="numBox">Number of BoxPlots</h3>
            <select id="numBoxes" placeholder="" onchange="refreshBoxCount(this)">
                <option value="" disable selected>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="boxCount">
                <container id="numBoxPlot"></container>
            </div>

            <h3 class="boxLabel" id="typeHeader">Choose Plot type</h3>
            <form action="/action_page.php" method="get">
                <label for="boxChoice">Choose boxType</label>
                <input list="box_type" name="boxChoice" id="boxChoice" placeholder="Select" onchange="updateBoxStyle(this);updateData()">
                <datalist id="box_type">
                    <option value="groupPlot">groupPlot</option>
                    <option value="stdDev">stdDev</option>
                    <option value="rainbowPlot">rainbow</option>
                </datalist>
            </form>
            <div class="bData">
                <container id="boxData"></container>
            </div>

            <br>
            <h4 class="boxLabel" id="generateDat">Hit Enter to Submit Data</h4>
            <button class="sendData" id="genData" onclick="submitData()">Enter</button>
            <br>

            <h4 class="boxLabel" id="sendDat">Hit Enter to Display New Graph</h4>
            <button class="sendData" id="sendData" onclick="graphNewData()">Graph</button>

            <div class="barHide"></div>

        </div>
    </main>

    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="{% static 'mainBox.js' %}"></script>

{% endblock %}
