{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Inserting the main body components for contact information-->
    <div class="mainBody">
    <div class="contentPage" id="contactTemplate">
      <h1 class="pageTitle display-1"><b><u>Contact Info:</b></u></h1>
      <div class="contactPiece">
        <h3 class="contactTitle display-3">Phone Number:</h3>
        <h5 class="contactInfo display-5">+1-234-567-7890</h5>
      </div>
      <div class="contactPiece"></div>
      <h3 class="contactTitle display-3">Fax:</h3>
      <h5 class="contactInfo display-5">+1-234-567-7890</h5>
      <div class="contactPiece">
        <h3 class="contactTitle display-3">Email Address:</h3>
        <h5 class="contactInfo display-5">dataliteracy@gmail.com</h5>
      </div>
    </div>
</div>

{% endblock  %}

