{% extends "base.html" %} {% load static %} {% block content %}
<div class="mainBody">
  <h1 class="pageTitle display-1" id="">
    <b><u>Contributors</u></b>
  </h1>
  <div class="contentSubsection">
    <div class="subHead" id="evan_beadle">
      <div class="portraitContainer">
        <h3 class="contributor" id="evanBeadle"><u>Evan Beadle:</u></h3>
        <img
          src="{% static 'EvanPic.jpg' %}"
          alt="Your photo here"
          class="portrait"
        />
      </div>
      <div class="statementContainer">
        <p class="statementP">
          &emsp;&emsp; Evan Beadle a senior at GSU & pursuing a major in the CS department. <br>
                      Evan's project role was implementing & ensuring functionality for a number of graphs
                      & various lessons; While also assisting (& being assisted) with troubleshooting the codebase.<br>
                      After graduating Evan plans to begin building a project portfolio  
        </p>
      </div>
    </div>

    <div class="subHead" id="daniel_campa">
      <div class="portraitContainer">
      <h3 class="contributor" id="danielCampa"><u>Daniel Campa:</u></h3>
      <img
        src="{% static 'daniel.JPG' %}"
        alt="Your photo here"
        class="portrait"
      /><br />
      </div>
      <div class="statementContainer">
        <p class="statementP">
         &emsp;&emsp;[Daniel Campa is a senior at Georgia Southern University at the Armstrong Campus, 
         with a major in Computer Science. With this capstone project we hope to show our growth through 
         this degree process. Within this project Daniel’s role was to implement dynamic graphs, while also 
         assisting in creating a user authentication portal and handling user specific interfaces. <br> This project 
         proved to be both a formidable challenge and immensely rewarding experience. Navigating through 
         the complexities of this project has pushed the boundaries of our knowledge, requiring us to adapt 
         to new ways of learning and applying knowledge acquired through the program. After graduating, 
         Daniel’s goal is to expand on their portfolio and to begin working in the field. 
         ]
        </p>
      </div>
    </div>

    <div class="subHead" id="storm_caswell">
      <div class="portraitContainer">
        <h3 class="contributor" id="conStorm"><u>Storm Caswell:</u></h3>
        <img
          src="{%static 'stormTest.png' %}"
          alt="Your photo here"
          class="portrait"
          id="stormImg"
        />
      </div>
      <div class="statementContainer">
        <p class="statementP">
          &emsp;&emsp; Storm Caswell is a Senior at Georgia Southern University at 
          the Statesboro campus. He is currently majoring in Computer Science with
          a minor in Animation. <br>For this project, Storm has taken a role in
          polishing the aesthetic appeal as well as focusing on scheduling. After
          graduating, Storm's goal is to continue schooling and independently
          develop his animation portfolio.
        </p>
      </div>
    </div>
    <div class="subHead" id="wylie_glover">
      <div class="portraitContainer">
        <h3 class="contributor" id="wylieGlover"><u>Wylie Glover:</u></h3>
        <img
          src="{% static 'wylie.jpg' %}"
          alt="Your photo here"
          class="portrait"
        />
      </div>
      <div class="statementContainer">
        <p class="statementP">
          &emsp;&emsp;  Wylie Glover is a senior at GSU, currently pursuing a major in the Computer Science.
          Wylie's role in the project was setting up a server to host the Django application on as well as implement
          Docker support for the project to automatically update the server when changes are made to the codebase. He
          also assisted on the front-end of the project with graphs and functionality. After graduating, Wylie plans to 
          begin working in the field of Cybersecurity.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
