{% extends "base.html" %} {% load static %} {% block content %}
<main class="dashboard">
  <div id="graphOpt">
    <div id="useGraph"></div>
  </div>
  <div class="dataCollection">
    <h2 class="dataLabel" id="chartTitle">
      Highest Grade Between Two Students
    </h2>
    <input
      type="text"
      id="dotChartTitle"
      placeholder="Graph Name"
      onchange="updateTitle()"
    />
    <script>
      function updateTitle() {
        let Title = document.getElementById("dotChartTitle").value;
        document.getElementById("chartTitle").innerHTML = Title;
      }
    </script>

    <h3 class="dataLabel">Number of Items comparing</h3>
    <select id="numEntry" placeholder="" onchange="updateDataCount(this)">
      <option value="" disable selected>Select</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div class="dataNames">
      <container id="dataInfo"></container>
    </div>

    <h3 class="dataLabel">X-Axis Values</h3>
    <select
      id="xComparison"
      placeholder=""
      onchange="xAxisValues(this);updateData()"
    >
      <option value="" disable selected>Select</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>

    <div class="dataEntry">
      <container id="x_Points"></container>
    </div>

    <h3 class="dataLabel">Y-Axis Values:</h3>
    <select
      id="yComparison"
      placeholder=""
      onchange="yAxisValues(this);updateData()"
    >
      <option value="" disable selected>Select</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>

    <div class="dotInfo">
      <container id="dotPoints"></container>
    </div>

    <div class="barHide"></div>

    <button class="submit" onclick="submitDotData()">Submit</button>
  </div>
</main>

<script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="{% static 'mainDot.js' %}"></script>
{% endblock %}
