
{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="mainBody">
        <h1 class="pageTitle display-1"><b><u>Graphing:</b></u></h1>
        <div class="contentPage" id="contactTemplate">
            <div class="contactPiece" id="graphingList">
                <h3 class="contactTitle display-3"><a href="/home/bar-graph"> Bar Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/line-graph"><br><br> Line Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/pie-chart"><br><br> Pie Charts<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/histogram"><br><br> Histograms<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/bubble-graph"><br><br> Bubble Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/box-plot"><br><br> Box Plot<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/scatter-plot"><br><br> Scatter Plot<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/quiz1"><br><br> Quiz 1<br><br></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}