
{% extends "base.html" %}
{% load static %}



{% block content %}
    <div class="mainBody">
        <div class="contentPage" id="contactTemplate">
            <h1 class="pageTitle display-1"><b><u>Graphing:</b></u></h1>
            <div class="contactPiece">
                <h3 class="contactTitle display-3"><a href="/home/templates/barGraphing.html"> Bar Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/lineGraphing.html"><br><br> Line Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/pieGraphing.html"><br><br> Pie Charts<br><br></h3>

                <h3 class="contactTitle display-3"><a href="/home/templates/histoGraphing.html"><br><br> Histograms<br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/histoGraphing.html"><br><br> Histograms<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/bubbleGraphing.html"><br><br> Bubble Graphs<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/boxGraphing.html"><br><br> Box Plot<br><br></h3>
                <h3 class="contactTitle display-3"><a href="/home/templates/dotGraphing.html"><br><br> Dot Plot<br><br></h3>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}

