<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--Google Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  />
        <link  href="/home/static/css/styling.css" />
        <title>Data Literacy</title>
    </head>

    <body>
        <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
        <!--Data for more complex charts?-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

        <nav class="navbar">
            <div class="container">
                <div>
                    <h1>Data Literacy</h1>
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="/home/templates/missionStatement.html" class="">Home</a>
                            </li>
                            <li>
                                <a href="#">Lessons</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn" ><a href="/home/templates/graphing.html" class="" id="graphing">Graphing</a></button>
                                    <div class="dropdown-content">
                                      <a href="/home/templates/barGraphing.html">Bar Graph</a>
                                      <a href="/home/templates/lineGraphing.html">Line Graph</a>
                                      <a href="/home/templates/pieGraphing.html">Pie Chart</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <a href="#">Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <nav class="sidebar">
            <div class="container">
                <h3 class="title">Home</h3>
                <ul>
                    <li>
                        <a href="#">
                            <span>Mission Statement</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Sponsors</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contributors</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Reviews</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="dashboard">
            <div id="graphOpt">
                <div id="useGraph"></div>
            </div>
            <div class="dataCollection">
                <h2 class="dataLabel">Graph Title</h1>
                <input type="text" id="chartName" placeholder="Graph Name" />
                <h2 class="dataLabel">Number of Pieces </h2>
                <select id="numLines" placeholder='' onchange="updatePieces(this)">
                    <option value="" disable selected>Select</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="barInfo">
                    <container id="barNames">
                    </container>
                </div>
                <h2 class="dataLabel">Number of Comparisons</h2>
                <select id="numComp" onchange="updateComp(this);updateValues()">
                    <option value="" disable selected>Select</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <div class="compInfo">
                    <container id="compValues"></container>
                </div>
                <div class="barHide" >
                </div>
                <button class="submit" onclick="submitData()"> Submit! </button>
            </div>
        </main>
          
          <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
          <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
          <script src="/home/static/mainHisto.js"></script>

    </body>
</html>