{% extends "base.html" %}
{% load static %}

{% block static_head %}
    <link rel="stylesheet" href="{% static 'css/classview.css' %}">

{% endblock  %}

{% block content %}
    <div class="mainBody">
        <hr>
    <div class="title-row">            
            <h1 class="title-text">{{ classroom.title }}</h1>
        </div>
        <div class="description-content">
            <!--This is for the right side that contains the class code and description-->
            <div class="class-info-box">
                <div class="add-features">
                    <a href="/{{classroom.join_code}}/new/">
                        <div class="add-assign">
                            <p class="center-text">Create Assignment</p>
                        </div>
                    </a>    
                    {% comment %} <div class="add-student">
                        <p class="center-text2">Students</p>
                    </div> {% endcomment %}
                </div>
                <div class="code-view">
                    <p class="small-text">Class Code:</p>
                    <p class="large-text"><b>{{ classroom.join_code }}</b></p>
                </div>
                <div class="decription-view">
                    <p class="large-text"><b>---Description---</b></p>
                    <p class="small-text">{{ classroom.description }}</p>
                </div>
            </div>

            <div class="flex-assignments">
                <div class="class-container2">
                    <a href="/{{classroom.join_code}}/lesson1/">
                      <div class="class-cards">
                                <img class="card-photo" src="{% static 'filler.jpg' %}" alt="">
                                <div class="card-container">
                                    <h4><b>{{classroom.title}}</b></h4> 
                                    <p>{{classroom.description }}</p>
                                </div>
                        </div>
                     </a>
                </div>
                <div class="class-container2">
                    <a href="/{{classroom.join_code}}/lesson1/">
                      <div class="class-cards">
                                <img class="card-photo" src="{% static 'filler.jpg' %}" alt="">
                                <div class="card-container">
                                    <h4><b>{{classroom.title}}</b></h4> 
                                    <p>{{classroom.description }}</p>
                                </div>
                        </div>
                     </a>
                </div>    
            </div>
        </div>
    </div>
    
{% endblock %}