
{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="dashboard">
        <div id="graphOpt">
            <div id="useGraph"></div>
        </div>
        <div class="dataCollection" id="quiz">
            <div class="question" id="question1">
                <h3>Question 1:<br/></h3>
                <h5>In what year do the populations first overlap?</h5>
                    <div class="answers">
                        <select id="quest1Answer" placeholder="" onchange="validateQ1(this)">
                            <option value="" disable selected>Options</option>
                            <option value="1">1965</option>
                            <option value="2">1980</option>
                            <option value="3">1968</option>
                            <option value="4">1982</option>
                        </select><br>
                    </div>
            </div>
            <div class="question" id="question2">
                <h3>Question 2:<br/></h3>
                <h5>In what year is the peak population for Wolves?</h5>
                    <div class="answers">
                        <select id="quest2Answer" placeholder="" onchange="validateQ2(this)">
                            <option value="" disable selected>Options</option>
                            <option value="1">1960</option>
                            <option value="2">1980</option>
                            <option value="3">2000</option>
                            <option value="4">1998</option>
                        </select><br>
                    </div>
            </div>
            <div class="question" id="question3">
                <h3>Question 3:<br/></h3>
                <h5>In what year is the Moose population 1450?</h5>
                    <div class="answers">
                        <select id="quest3Answer" placeholder="" onchange="validateQ3(this)">
                            <option value="" disable selected>Options</option>
                            <option value="1">1993</option>
                            <option value="2">1985</option>
                            <option value="3">1990</option>
                            <option value="4">2000</option>
                        </select><br>
                    </div>
            </div>
            <div class="question" id="question4">
                <h3>Question 4:<br/></h3>
                <h5>How many years apart are the peak populations for wolves & moose?</h5>
                    <div class="answers">
                        <label for="quest4Answer">Answer Here:</label>
                        <input type="text" id="quest4Answer" onchange='validateQ4(this)' placeholder="Answer..." />
                    </div>
            </div>
            <div class="question" id="question5">
                <h3>Question 5:<br/></h3>
                <h5>What is the maximum population of wolves in this time interval?</h5>
                    <div class="answers">
                        <label for="quest5Answer">Answer Here:</label>
                        <input id='quest5Answer' type="text" class="inputText" onchange="validateQ5(this)" placeholder="Answer...">
                    </div>
            </div>
            <button class="submit" onclick="submitLesson()">Submit Quiz</button>
        </div>
    </main>
    
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="{% static 'mainLesson1.js' %}"></script>
  
  {% endblock  %}
