
{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="dashboard">
        <div id="graphOpt">
            <div id="useGraph"></div>
        </div>
        <div class="dataCollection">
            <h2 class="dataLabel">Graph Title</h1>
            <input type="text" id="chartName" placeholder="Graph Name" />
            <h2 class="dataLabel">X-Axis Label</h1>
            <input type="text" id="chartName" placeholder="X-Axis" />
            <h2 class="dataLabel">Y-Axis Label</h1>
            <input type="text" id="chartName" placeholder="Y-Axis" />
            <h2 class="dataLabel">Number of Lines </h2>
            <select id="numLines" placeholder='' onchange="updateLines(this)">
                <option value="" disable selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
            </select>
            <div class="barInfo">
                <div id="barNamesInput"></div>
            </div>
            <label for="numLines"><h2>Number of Points per line</h2></label>
            <select id="valLines" placeholder='' onchange="updateValues(this)">
                <option value="" disable selected>Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
            </select>
            <div class="lineValues">
                <div id="lineInput"></div>
            </div>
            <div class="barHide" >
            </div>
            <button class="submit" onclick="submitData()"> Submit! </button>
        </div>
    </main>
    
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="{% static 'mainLine.js' %}"></script>
  
  {% endblock  %}
