
{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="dashboard">
        <div id="graphOpt">
            <div id="useGraph"></div>
        </div>
        <div class="dataCollection">
            <h2 class="dataLabel">Graph Title</h1>
            <input type="text" id="chartName" placeholder="Graph Name" />
            <h2 class="dataLabel">Number of Pieces </h2>
            <select id="numLines" placeholder='' onchange="updatePieces(this)">
                <option value="" disable selected>Select</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="barInfo">
                <container id="barNames">
                </container>
            </div>
            <h2 class="dataLabel">Number of Comparisons</h2>
            <select id="numComp" onchange="updateComp(this);updateValues()">
                <option value="" disable selected>Select</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <div class="compInfo">
                <container id="compValues"></container>
            </div>
            <div class="barHide" >
            </div>
            <button class="submit" onclick="submitData()"> Submit! </button>
        </div>
    </main>
    
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="/home/static/mainPie.js"></script>
{% endblock  %}
