<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <meta name="viewport" content="width=device-width">
</head>

<body>

    <!--Inserting the top navbar with id of topNav -->
    <div class="navbar navbar-expand-lg navbar-light" id="topNav">
        <a class="navbar-brand" href="#" id="brand">Data Literacy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graphing
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Bar Chart</a>
                <a class="dropdown-item" href="#">Line Chart</a>
                <a class="dropdown-item" href="#">Scatterplot</a>
              </div>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#">Lessons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Info</a>
            </li>
          </ul>
        </div>
      </div>

    <!--Inserting the sidebar for navigation of homescreen-->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="#" class="listy active" aria-current="true" id="sideBarChanges"> Mission Statement </a>
            <a href="/home/templates/contributors.html" class="listy" aria-current="true" id="sideBarChanges"> Contributors </a>
            <a href="/home/templates/sponsors.html" class="listy" aria-current="true" id="sideBarChanges"> Sponsorss</a>
            <a href="/home/templates/contact.html" class="listy" aria-current="true" id="sideBarChanges"> Contact Us </a>
            <a href="/home/templates/reviews.html" class="listy" aria-current="true" id="sideBarChanges"> Reviews </a>
          </div>
        </div>
      </nav>
    
    <!--Inserting the content for the page-->
    <div class="contentPage" id="missionTemplate">
        <h1 class="pageTitle display-1" id=""><b><u>Mission Statement</u></b></h1>
          <div class="contentSubsection">
            <div class="subHead" id="progress">
              <h5 class="subTitle display-5"><u>Current Progress:</u></h5>
              <p class="statementP"> &emsp;&emsp; We are currently in the early stages of development and our current objective is working on
              deployment of python libraries through the django framework. </p>
            </div>
            <div class="subHead" id="purpose">
              <h5 class="subTitle display-5"><u>Purpose:</u></h5>
              <p class="statementP"> 	&emsp;&emsp;As students at Georgia Southern currently enrolled in Professor
                John Repko's Computer Science Capstone, we have been tasked with developing an application
                 for data visualization and comprehension. Under the guidance of Professors Hui and Allen,
                  we hope to appeal to the kinesthetic learner in offering a digital environment for high
               school student interact with data and graphs. <br>
               &emsp;&emsp;Although the current method of teaching someone to understand data isn’t incorrect, we hope 
               to diversify the methods available and appeal to those who’ve struggled with previous styles.
                There have been programs built like this before; however, the programs have become outdated
                 and clunky compared to modern expectations.
               <br> &emsp;&emsp; We are currently in the early stages of development and our current objective is working on
                deployment of python libraries through the django framework. </p>
            </div>
            <div class="subHead" id="future">
              <h5 class="subTitle display-5"><u>Future:</u></h5>
              <p class="statementP"> &emsp;&emsp;</p>
            </div>
          </div>
    </div>
    
</body>