.title-row {
    display: flex;
    flex-direction: row;
    height: 125px;
    background-color: blue;
    border-radius: 6px;
    border: 2px;
    margin: 15px 20px 25px 20px;
}

.title-text {
    margin-left: 2%;
    font-size: 70px;
    font-family: 'Monaco';
    color: white;
}

.description-content {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.class-info-box {
    display: grid;
    grid-template-rows: 100px 1fr;
    row-gap: 5px;
    margin: 10px 20px 25px 10px;
}

.code-view {
    height: 75px;
    margin: 10px 0;
    text-align: center;
    min-width: 100%;
    border-radius: 6px;
    border: 2px;
    background-color: aqua;
}

.decription-view {
    background-color: aqua;
    text-align: center;
    min-width: 100%;
    min-height: 100%;
    overflow-wrap: break-word;

}

.large-text {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: 'Monaco';
    text-align: center;

}

.small-text {
    font-family: 'Monaco';
    text-align: left;
    padding: 0;
    margin: 5px 5px;
    font-size: 20px;
    min-width: 100%;
}

.class-cards {
    box-shadow: 10px 20px 10px #02081b;
    border-radius: 10px;
    transition: 0.3s;
    min-height: 60%;
    min-width: 75%;
    ;
    margin: 5% 15% 5% 15%;
}

.class-container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.card-photo {
    width: 100%;
}

.card-container {
    padding: 2px 16px;
}

.class-cards:hover {
    box-shadow: 10px 20px 20px #040c24;
}