.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.title-row {
    display: flex;
    flex-direction: row;
    height: 125px;
    background-image: radial-gradient(#040c24, #040c24, #040c24, #1c2147, #1c2147);
    color: black;
    border-radius: 6px;
    border: 2px;
    margin: 15px 20px 25px 20px;
}

.title-text {
    margin-left: 40%;
    font-size: 70px;
    font-family: 'Monaco';
    color: rgb(70, 86, 233);
}

.description-content {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.class-info-box {
    display: grid;
    grid-template-rows: 100px 100px 1fr;
    row-gap: 5px;
    margin: 10px 20px 25px 10px;
}

.code-view {
    height: 75px;
    margin: 10px 0;
    text-align: center;
    min-width: 100%;
    border-radius: 6px;
    border: 2px;
    background-image: radial-gradient(#040c24, #040c24, #040c24, #1c2147, #1c2147);
    color: black;

}

.decription-view {
    background-image: radial-gradient(#040c24, #040c24, #040c24, #1c2147, #1c2147);
    color: black;

    text-align: center;
    min-width: 100%;
    min-height: 100%;
    overflow-wrap: break-word;
}

.large-text {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: 'Monaco';
    text-align: center;
    color: #EAEAEA;

}

.small-text {
    font-family: 'Monaco';
    text-align: left;
    padding: 0;
    margin: 5px 5px;
    font-size: 20px;
    min-width: 100%;
    color: #EAEAEA;

}

.class-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-height: 60%;
    min-width: 75%;
    margin: 5% 15% 5% 15%;
}

.class-container {
    display: grid;
    grid-template-columns: fit-content;
    width: 35%;
}


.card-photo {
    width: 100%;
}

.card-container {
    padding: 2px 16px;
}

.class-cards:hover {
    box-shadow: 0 8px 16px 0 white;
}

.add-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.add-assign,
.add-student {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    transition: 0.3s;
    min-height: 60%;
    min-width: 75%;
    margin: 5% 15% 5% 15%;
<<<<<<< HEAD
    border-radius: 4px;
=======
>>>>>>> main
    background-image: radial-gradient(#040c24, #040c24, #040c24, #1c2147, #1c2147);
}

.add-assign:hover,
.add-student:hover {
    box-shadow: 0 12px 15px 0 cadetblue;
    color: white;
    background-color: rgba(255, 255, 255, .4);
}

.text-middle {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: black;

}

.center-text {
    margin-top: 8%;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lucida Sans';
    text-align: center;
    color: #EAEAEA;

}

.center-text2 {
    margin-top: 8%;
    padding-top: 15px;
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Lucida Sans';
    text-align: center;
    color: black;

}