
/* Styling top-nav */

.contained {
    background-color: rgb(245, 245, 245);
}

#topNav {
    background-color: paleturquoise;
    background-clip:padding-box;
    border: 10px;
    position:sticky;
    z-index: -1;
    width: 100%;
}

#brand {
    font-size: 50px;
    line-height: 50px;
}

.nav-item {
    font-size: 25px;
    margin-left: 50px;
    margin-right: 20px;
    height: 50px;
    line-height: 25px;
}

#yuhh {
    background-color: black;
    text-decoration: none;
    font-size: 100px;
}

/* Styling side-bar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 11%;
    height: 100%;
    z-index: 0;
    background-color: paleturquoise;
  }

.listy {
    background-color: paleturquoise;
    margin-top: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000a6;
    font-size: 20px;
}

.listy:hover {
    background-color: turquoise;
}

.active {
    background-color: turquoise;
    cursor: default;
}


/* Styling main content */

.contentPage {
    top: 0px;
    left: 250px;
    position: relative;
    border: 10px;
    width: 82.5%;
}

.pageTitle {
    text-align: center;
    color: #474747;
    font-size: 100px;
    margin-bottom: 40px;
}

.statementP {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #757575;
    margin-top: 20px;
}

.statementPR {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #757575;
    text-align: right;
    margin-right: 300px;
    border: 10px;
}

.portrait {
    width: 280px;
    height: 402px;
    left:0;
    border: 10px solid;
    line-height: 25px;
    border-image: linear-gradient(teal,paleturquoise) 30;
}

.portraitR {
    float:right;
    right: 0px;
    border: 10px;
    width: 280px;
    height: 402px;
    border: 10px solid;
    border-image: linear-gradient(teal,paleturquoise) 30;
}

.subTitle {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 15px;
}

#danielCampa, #wylieGlover{
    text-align: right;
}

#studentTitle {
    font-size: 25px;
}

.item {
    z-index: 1;
}