body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #fff;
    background: #1c2147;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    color: #6b6f8a;
    font-size: 0.9em;
}

small {
    color: #6b6f8a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

/*====== Navbar ======*/
.navbar {
    text-decoration: none;

    background: linear-gradient(#040c24, #1c2147);
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 50px;
}

.navbar .container {
    /* padding: 1em 2em; */
    padding-bottom: 0;
    margin: 0 auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

#hero-text {
    text-decoration: none;
    font-size: 100px;
}

.haha {
    margin-top: 12.5px;
    display: flex;
    flex-direction: row;
    width: 17.5%;
    align-items: center;
    height: 50px;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#040c24, #1c2147);
}

.main-logo {
    left: 20px;
}

.image-container {
    margin: 5px;
}

#topBarElements {
    height: 10px;
}

.menu {
    height: 35px;
}

.navbar .container>div {
    display: flex;
    flex-direction: row;
    /* display:  grid;
    grid-template-columns: 15% 75%; */
    align-items: center;
}

.navbar .menu,
.navbar .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    width: 100%;
    height: 100%;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10%;
}

.navbar ul a {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #F4F4F4;
    padding-bottom: 0.2em;
    transition: 0.3s;
}

.navbar ul a:hover {
    color: #fff;
}

.navbar .active {
    border-bottom: 2px #03dcee solid;
    color: #fff;
}

.navbar .container .menu-btn {
    display: none;
}

.options span {
    font-size: 2em;
    color: #fff;
}

.profile-img {
    width: 2.5em;
    border-radius: 50%;
}


.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}


/*==== Sidebar ======*/

.sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    height: 100%;
    padding: 3em 2em 0 2em;
    background: linear-gradient(to right, #040c24, #1c2147);
    overflow-y: hidden;
    width: 15%;
}

.sidebar .container {
    position: relative;
    height: 100%;
}

.sidebar .title {
    font-weight: 400;
    color: #6b6f8a;
}

.sidebar ul {
    margin: 1em 0 3em 0;
}

.sidebar li {
    display: block;
    padding: 1em 0;
    border-bottom: 1px #21284c solid;
}

.sidebar ul a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.siderbar a .material-icons {
    margin-right: 0.7em;
    color: #6b6f8a;
    transition: 0.3s;
}

.sidebar a:hover .material-icons {
    color: #fff;
}

/*==== Graphs ====*/
#useGraph {
    position: fixed;
    left: 15%;
    top: 6%;
    border: 0;
    background-color: #0c1845;
    margin-bottom: 100%;
    width: 45%;
    height: 70%;
}

#useDotGraph {
    position: fixed;
    left: 15%;
    top: 6%;
    border: 0;
    background-color: #0c1845;
    width: 75%;
    height: 85%;
}

.dataCollection {
    position: fixed;
    left: 60%;
    top: 6%;
    border-left: solid 20px #384882;
    width: 40%;
    height: 97%;
    text-align: center;
    overflow: scroll;
}

#barInfo {
    display: grid;
    grid-template-columns: 1fr;
}

.barHide {
    display: none;
}

.active {
    display: block;
}

.dataCollection>* {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#barNames>*,
#compValues>*,
.barHide>* {
    margin-bottom: 10px;
}

.submit {
    margin: 20px 20px 20px 20px;
}

.barHide>* {
    margin-bottom: 30px;
}

.mainBody {
    left: 15%;
    top: 7%;
    position: fixed;
    text-align: center;
    width: 84%;
    height: 95vh;
    overflow: scroll;
}

.mainBody>h1 {
    font-size: 100px;
    margin: 10px 10px;
    color: rgb(70, 86, 233);

    background-image: linear-gradient(#1c2147, #040c24);
    height: max-content;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 35px;
    border: 2px solid #fff;
    box-shadow: 10px 20px 20px #040c24;
}

.subHead>h5 {
    font-size: 40px
}

.graphDisplay {
    position: relative;
    margin-left: 200px;
}

.pageTitle {
    text-align: center;
    color: #474747;
    font-family: 'Georgia';
    font-size: 100px;
    margin-bottom: 40px;
}

.statementP {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFF;
    /* margin-top: 20px; */
    background-color: #040c24;
    width: 150vh;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    border: 2px solid #fff;
    border-radius: 2px;
    padding-left: 40px;
    padding-right: 40px;
}

.statementContainer {
    background-color: rgba(4, 12, 36, .55);
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #00000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0c1839;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #00000040;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #00000080;
}

#graphing {
    width: fit-content;
    height: 100px;
}

#graphingList {
    width: 20%;
    background: linear-gradient(0deg, #040c2450, #4d60a1);
}


.logo {
    position: absolute;
    max-width: 80%;
    height: auto;
    min-width: 20%;
    bottom: 100px;
    left: 18px;
    border-radius: 20px;
    opacity: 75%;
    box-shadow: 10px 20px 10px #02081b;
}

.contactPiece {
    background-color: #4d60a1;
    width: fit-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 5px 20px 5px 20px;
    border-radius: 25px;
    border: solid 2px #fff;
}

.reviewInput {
    background-color: #384882;
    width: 80%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    height: 70%;
    border-radius: 1%;
}

.message {
    margin: 10px;
    font-size: 25px;
}

#reviewMessage {
    height: 70%;
    font-size: 15px;
    border-radius: 2px;
    background-color: rgb(220, 220, 220);
}

.reviewSubmission {
    width: 30%;
    height: 40px;
    margin: auto;
    background-color: cadetblue;
    border: 1px solid white;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 2px;
}

.inputText {
    margin-left: 5px;
    margin-right: 5px;
}

.portraitContainer {
    border: 2px solid #354680;
    width: 400px;
    height: 600px;
    background-color: #182555;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 20px 20px #040c24;
}

.portraitContainer>h3 {
    margin-top: 10px;
    font-size: 22px;
}

/* .contentSubsection {
    align-items: center;
} */

.portrait {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    margin: 40px 25px 75px 25px;
    border: 2px solid #253469;
}

#chartName {
    height: 30px;
    border-radius: 10px;
    border: 4px solid #6c7fbd;
    background-color: #e6e6e6;
}

.inputText {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 1vh;
    height: 30px;
}

.label {
    margin-top: 25px;
}

.selector {
    background-color: #e6e6e6;
    border-radius: 1vh;
    height: 25px;
}

.submit {
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 1vh;
    width: 200px;
    height: 30px;
}

#quiz>* {
    text-align: left;
}